.footer1 {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: min(80vw, 1280px);
  margin: auto;
  padding: 2rem 0;
}

.footer1 > div {
  display: flex;
  gap: 2rem;
}

.footer1 p {
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 150%;
  color: var(--gray);
}

.footer2 {
  background: #111;
}

.footer2 > div {
  color: var(--gray);
  padding: 1.4rem 0;
  width: min(80vw, 1280px);
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.socialMedia {
  display: flex;
  gap: 1rem;
  font-size: 18px;
}
