.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}

.headerContainer ul {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  list-style: none;
}

.headerContainer ul li {
  padding: 0.5rem 0;
  position: relative;
}

.headerContainer ul li::after {
  content: '';
  background: var(--primary);
  height: 2px;
  width: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: 0.35s ease-in-out;
}

.headerContainer ul li:hover::after {
  width: 100%;
  left: 0;
  right: initial;
}

.headerContainer ul li a {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.headerContainer button {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  background: var(--primary);
  border: none;
  font-weight: bold;
  font-size: 1rem;
  line-height: 18px;
  color: var(--dark);
}

.headerContainer button:hover {
  opacity: 0.9;
}
